.CustomBuyButton {
    --fs-button-border-radius: var(--fs-border-radius-pill);
    --fs-button-padding:  0 var(--fs-spacing-5);
   
    color: var(--fs-color-text-inverse);
   
    [data-fs-button-wrapper] {
      background-color: #E31C58;
    }
  }